{% extends 'base.html.twig' %}

{% block title %}Count a final cost for a customer!{% endblock %}

{% block body %}
    <div class="container-md w-50 mt-5 border border-1 rounded border-secondary">
        <h5 class="mt-3 text-center">Please choose a product and enter customer's personal tax code to get the final cost</h5>
        <div class="p-5">
            {{ form_start(form) }}
                {{ form_row(form.product) }}
                {{ form_row(form.taxCode) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}