{% extends 'base.html.twig' %}

{% block title %}Count a final cost for a customer!{% endblock %}

{% block body %}
    <div class="container-md w-50 text-center">
        {% if status == 'success' %}
            <div class="mt-5 alert alert-success" role="alert">
                <p>
                    Final cost of {{ product }} for a customer with tax code {{ tax_code }} is:
                </p>
                <p class="text-danger fs-3">
                    {{ result }} €
                </p>
            </div>
        {% else %}
            <div class="mt-5 alert alert-danger" role="alert">
                <p>
                    Can't count final cost of {{ product }} for a customer with tax code {{ tax_code }}.
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}